<nav class=" navbar-container">
  <div class="logo">
    <img src="whitelogoecaia.svg" alt="PixelView">
  </div>
  
  <!-- Usamos (click) de Angular -->
  <button class="menu-toggle" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <!-- Usamos [class.active] para enlazar el estado -->
  <div class="nav-links" [class.active]="isMenuOpen">
    <a href="#" (click)="toggleMenu()">Inicio</a>
    <a href="#" (click)="toggleMenu()">Servicios</a>
    <a href="#" (click)="toggleMenu()">Proceso</a>
    <a href="#" (click)="toggleMenu()">Contacto</a>
  </div>
</nav>