<!-- Barra de navegación global fija -->
<app-navbar></app-navbar>

<!-- Contenido estructurado de la Landing Page -->
<main>
  <!-- Sección Principal / Propuesta de Valor -->
  <app-hero></app-hero>

  <!-- Sección de Servicios y Automatizaciones -->
  <app-our-services><app-our-services>

  <!-- Sección de Casos de Éxito / Pruebas Sociales -->
  <app-cases></app-cases>

  <!-- Sección de Captura de Leads Calificados (Signals Form) -->
  <app-form-contact></app-form-contact>
</main>

<!-- Pie de página e información legal -->
<app-footer></app-footer>