<section class="hero-split">
  <!-- Contenedor del fondo aislado -->
  <div class="hero-background"></div>
  
  <div class="container">
    <div class="hero-content">
      
      <!-- Un solo h1 usando span para el color rojo -->
      <h1 class="pixel-font">
        DISEÑAMOS SISTEMAS QUE <span id="red-title">HACEN CRECER NEGOCIOS</span>
      </h1>  
      
      <p class="hero-subtitle">
        Impulsamos marcas y negocios a través de estretegias inteligentes, creatividad con propósito y automatización impulsada por IA.
      </p>
      <div class="hero-buttons">
        <button class="btn-primary" ><a href='#contact'></a>¡Empezar ahora!</button>
      </div>
    </div>
  </div>
</section>
