/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
  background-color: #faf8f5; /* Tono almendrado base muy claro */
  color: #2e2520; /* Tierra profundo para textos legibles */
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}